:css
	@import "/assets/frontend/lib/modern_slide_in/sequence-theme.modern-slide-in.css";

%link{:rel => "preload", as: "style", href:"/assets/frontend/lib/modern_slide_in/sequence-theme.modern-slide-in.css"}/	

-# COMPONTENT
- style_margin = " margin: #{component.margin_top_bottom_side} #{component.margin_left_right_side};"
- style_padding = " padding: #{component.padding_top_bottom_side} #{component.padding_left_right_side};"
- height = " height: #{device.eql?("desktop") ? ( component.desktop_height.presence || '700px' ) : ( component.mobile_height.presence || '200px' )} "

-# IMAGES
- image_background = component.images.backgrounds.first
- if image_background.present?
	- background_repeat =  " background-repeat: #{image_background.background_image_repeat.presence || 'no-repeat'};"
	- background_image = " background-image: url(#{manipulate_image_tag_url(image_background, options: {image_quality: image_background.image_quality}, html: {class: "img-fluid", data_src: image_background.image_quality})});"
	- background_size = " background-size: #{image_background.background_image_size.presence || 'auto'};"
	- background_position = " background-position: #{image_background.background_image_position.presence || 'center'};"

- style = " ".concat(style_margin.to_s,style_padding.to_s,background_image.to_s,background_repeat.to_s,background_size.to_s,background_position.to_s, height.to_s)


%div{id: "component-#{component.id}",class: "#{component.class_parent_component}", style: "#{component.style_parent_component}; #{style}; background-color: #{component.background_color};", name: "#{component.slug}"}
	.row
		.col-12
			.modern-slide-in.p-0{class: "text-#{component.position_text}", style: "margin: #{component.margin_all_side}; margin-top: #{component.margin_top_bottom_side}; margin-bottom:#{component.margin_top_bottom_side}; margin-left:#{component.margin_left_right_side};  margin-right:#{component.margin_left_right_side}"}
				=component.translation.title.to_s.html_safe
				=component.translation.subtitle.to_s.html_safe
				=component.translation.body.to_s.html_safe

				- if component&.link.present?
					=link_to component&.url_text || "/", class: "btn bg-light" do
						.fw-bold.text-secondary="READ MORE"

						-# https://img.freepik.com/free-photo/3d-grunge-room-interior-with-spotlight-smoky-atmosphere-background_1048-11333.jpg?w=1800&t=st=1669342609~exp=1669343209~hmac=ab2521b8b2faef1288810014be71ea8b210793c1c22f701b53582a9de6b51c2e
				-# #sequence.seq{style: "min-width: 100% !important; background-image: url('https://img.freepik.com/free-photo/3d-grunge-room-interior-with-spotlight-smoke-effect_1048-12578.jpg?w=1060&t=st=1669342936~exp=1669343536~hmac=8dec65688fc27e9a628dce371c1b28ed111c8e06ccb958f0e9661cef6e368cf2')"}
				#sequence.seq{style: "min-width: 100% !important; background-color: #{component.background_color}; background-image: url(#{component.background_image_online})"}
					- images = component.images
					.seq-screen
						%ul.seq-canvas
							- images.active.normals.each do |image|
								%li.seq-in
									.seq-model
										= manipulate_image_tag(image, options: {image_quality: image.image_quality}, html: {class: "text-center", img_not_found: 'https://via.placeholder.com/640x382.svg/FFFFFF/5061CE?text=axeonsoft.com'})
										-# %img{:alt => "A female model with long curly brown hair wears a gray sweater, brown shorts, bright yellow socks, and black high heel shoes. She raises one leg, and tilts her head to the side", "data-seq" => "", :src => "images/model1.png"}/
									.seq-title.ml-4
										.row
											.title{style: "font-size: 4rem;"}=image.title.to_s.html_safe
										%h2.text-center.subtitle{"data-seq" => ""}=image.subtitle.to_s.html_safe
										.note{"data-seq" => ""}=image.note.to_s.html_safe
					- if component.show_arrows.eql?("true")
						%fieldset.seq-nav{"aria-controls" => "sequence", "aria-label" => "Slider buttons", style: "min-width: 100% !important;"}
							%button.seq-prev{"aria-label" => "Previous", :type => "button"} Previous
							%button.seq-next{"aria-label" => "Next", :type => "button"} Next
					%ul.seq-pagination.w-100{"aria-label" => "Pagination", :role => "navigation", style: "min-width: 100% !important;"}
						
						- images.active.thumbnails.each_with_index do |image, i|
							%li
								%a{:href => "#step#{i + 1}", :rel => "#step#{i + 1}", :title => "Go to slide #{i + 1}"}
									-# %img{:src => "images/tn-model1.png"}/
									= manipulate_image_tag(image, options: {image_quality: image.image_quality}, html: {class: "img-fluid text-center #{image.class_image}", style: image.style_image, img_not_found: 'https://via.placeholder.com/640x382.svg/FFFFFF/5061CE?text=axeonsoft.com'})

= javascript_include_tag '/assets/frontend/lib/modern_slide_in/sequence.min.js'

:javascript

	loadjs([
		"/assets/frontend/lib/modern_slide_in/sequence-theme.modern-slide-in.css",
		"/assets/frontend/lib/modern_slide_in/imagesloaded.pkgd.min.js",
		"/assets/frontend/lib/modern_slide_in/hammer.min.js",
		"/assets/frontend/lib/modern_slide_in/sequence-theme.modern-slide-in.js"], 'modern_slide_in', {

			before: function(path, scriptEl) {
				$("#loading_component-#{component.id}").addClass("loading_component")
			},
			async: false
		});
	loadjs.ready('modern_slide_in', function() {
			$("#loading_component-#{component.id}").removeClass("loading_component")
	})

	$(document).on('turbolinks:load', function() {
		$("body").attr("data-turbolinks", "false")


		loadjs([
		"/assets/frontend/lib/modern_slide_in/sequence-theme.modern-slide-in.css",
			"/assets/frontend/lib/modern_slide_in/imagesloaded.pkgd.min.js",
			"/assets/frontend/lib/modern_slide_in/hammer.min.js",
			"/assets/frontend/lib/modern_slide_in/sequence-theme.modern-slide-in.js"], 'modern_slide_in', {

			before: function(path, scriptEl) {
				$("#loading_component-#{component.id}").addClass("loading_component")
			},
			async: false
		});
		loadjs.ready('modern_slide_in', function() {
			$("#loading_component-#{component.id}").removeClass("loading_component")
		})
	});