
= form_for [:admin, page], builder: ActiveAdmin::FormBuilder do |f|
	= f.inputs :name => "Page" do
		.row.mx-2
			.col-lg-6.col-12
				= f.input :title, input_html: {class: "form-control w-100"}
			.col-lg-6.col-12
				= f.input :layout, as: :select, collection: Page::PAGE_LAYOUT, input_html: {class: "form-control"}
			.col-12
				= f.input :description, as: :string, input_html: {class: "form-control w-100"}

	- f.has_many :components, new_record: true, heading: false, class: "component-parent" do | comp |
		- exist = comp.object.id.present?
		.text{class: "level-list-item", "component_id"=>"#{comp.object.id}"}
			.card
				#headingOne.card-header{ class: "#{exist ? 'bg-secondary' : ''}"}
					.row{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapse-#{comp.object.id}", "data-toggle" => "collapse", :type => "button", class: "#{comp.object.id ? '' : 'new_record'}"}
						.col-11
							%h5.mb-0{ class: "#{exist ? 'text-light' : ''}"}
								="#{comp.object.name.to_s.capitalize}"
							%hr.text-white.my-1
							%small.text-light=comp.object.layout.to_s.capitalize
						.col-1{style: "text-align: right;"}
							- if comp.object.id.present?
								=link_to admin_component_path(id: comp.object.id), method: :delete, data: { confirm: "Are you sure?" } do
									%i.fa.fa-trash.text-danger
				.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample", id: "collapse-#{comp.object.id}", class: "#{comp.object.id ? '' : 'show'}"}
					.card-body
						.row
							.col-3
								#v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
									%a#v-pills-home-tab.nav-link.active{"aria-controls" => "v-pills-general", "aria-selected" => "true", "data-toggle" => "pill", :href => "#nav-general-#{comp.object.id}", :role => "tab"} General
									%a#v-pills-profile-tab.nav-link{"aria-controls" => "v-pills-images", "aria-selected" => "false", "data-toggle" => "pill", :href => "#nav-images-#{comp.object.id}", :role => "tab"} Images
							.col-9
								#v-pills-tabContent.tab-content.p-0
									.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-general-tab", :role => "tabpanel", id: "nav-general-#{comp.object.id}"}
										= comp.inputs do
											- comp.input :name, :input_html => { :class => "w-100" }
											- comp.input :layout, collection: Component::COMPONENT_LAYOUT, :input_html => { :class => "w-100 form-control" }
											- comp.input :url_text, :input_html => { :class => "w-100" }
											- comp.input :description, :input_html => { :rows => 5, :class => "w-100" }
											- comp.input :position, :input_html => { :class => "w-100" }
									.tab-pane.fade{"aria-labelledby" => "v-pills-images-tab", :role => "tabpanel", id: "nav-images-#{comp.object.id}"}
										.row 
											.col-12.mx-4
												- comp.has_many :images, allow_destroy: true, class:"col-3 mx-2" do |image|
													= image_tag(image.object.asset.url(:thumb), class: "w-100 my-2")
													- image.template.concat(Arbre::Context.new do
														- div class: "col" do
															- image.template.render partial: "admin/admin_shared/image_upload", locals: {f: image}
													- end.to_s)
									.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel", id: "nav-contact-#{comp.object.id}"} ...

		:javascript

			$(".has_many_container").addClass("row")
			$(".has_many_container").addClass("level-list")
			$(".has_many_fields").attr("component_id","#{comp.object.id}");
			$(".has_many_container").attr('id', 'accordionExample');
			
			$(".component-parent").addClass("p-0")
			$(".has_many_delete").find("label").addClass("p-0")
			$(".has_many_add").addClass("mb-3")
			
			// remove if new record add created more than one
			//$(".has_many_add").click(function(){
			//	if ($(".new_record")[0]){
			//		// alert("anda sudah membuat new record baru")
			//		$(".new_record").closest(".has_many_fields").remove()
			//	} else {
			//			// Do something if class does not exist
			//	}
			//})

			$(".level-list").sortable({
				start: function(event, ui) {
					console.log(ui.item)
					ui.item.addClass("highlight");
				},
				stop: function(event, ui) {
					console.log(ui.item.index())
					ui.item.toggleClass("highlight");

					var comp_id = ui.item.children().children().attr("component_id")
					var position_update = ui.item.index()
					console.log(comp_id)
					update_position(comp_id, position_update)
				}
			});

			function update_position(comp_id, position_update) {
				$.ajax({
					type: "GET",
					url: "/components/update_position/" + comp_id,
					data: {
						position_update: position_update
					},	
					success: function (data) {
						toastr.success('Ok! Posisi Component sudah berubah')
					},
					complete: function() {}}
					)
			}

	= f.actions do 
		= f.action :submit, :label => "SIMPAN", :input_html => { class: "btn btn-primary w-100" }, class: "sasa"

:javascript
	ActiveAdminSortableEvent.add('ajaxDone', function (){
		// do what you want
		toastr.success('Ok! Posisi Page sudah berubah')
	})