
= semantic_form_for [:admin, page], builder: ActiveAdmin::FormBuilder do |f|
	= f.inputs :name => "Page" do
		= f.input :title

	- f.has_many :components, new_record: true do | comp |
		- comp.input :name
		- f.has_many :attachments, heading: false, new_record: true do |attach|
			.card 
				.card-body
					.row
						.col-3
							- if attach.object.asset.url.present?
								= image_tag(attach.object.asset.url, width: "200px")
						.col-9
							- attach.input :asset
	= f.actions