%h1= @page.title
%hr
= form_for [:admin, page], builder: ActiveAdmin::FormBuilder do |f|
	.mb-4
		%nav
			#nav-tab.nav.nav-tabs{:role => "tablist"}
				%a#nav-home-tab.nav-item.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#page-general", :role => "tab"} General
				%a#nav-contact-tab.nav-item.nav-link{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#page-global-style", :role => "tab"} Global Style
				%a#nav-profile-tab.nav-item.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#page-header", :role => "tab"} Header
				%a#nav-seo_page.nav-item.nav-link{"aria-controls" => "nav-seo_page", "aria-selected" => "false", "data-toggle" => "tab", :href => "#page-seo_page", :role => "tab"} SEO Page
		#nav-tabContent.tab-content
			#page-general.tab-pane.fade.show.active{"aria-labelledby" => "nav-general-tab", :role => "tabpanel"} 
				= f.inputs :name => "Page" do
					.form-check.form-switch.px-3{style: "text-align: right"}
						= f.input :active, label: "", input_html: {class: "form-check-input", disabled: false, "aria-label"=>"..."}
					.row.mx-2
						.col-lg-4.col-12
							= f.input :title, input_html: {class: "form-control w-100"}
						.col-lg-4.col-12
							= f.input :slug, input_html: {class: "form-control w-100"}
						.col-lg-4.col-12
							-# = f.select :layout, Page::PAGE_LAYOUT, {}, { :class => 'js-example-basic-single' }
							= f.input :layout, as: :select, collection: Page::PAGE_LAYOUT, input_html: {class: "form-control select2"}
						.col-12.my-3
							= f.input :description, input_html: {class: "form-control w-100", rows: 5}

			#page-global-style.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"}
				= f.inputs :name => "Global Style" do
					.row.mx-2
						- Page.stored_attributes[:properties].each do | obj |
							.col-md-6.col-12.mb-2
								= f.input obj, input_html: {class: "form-control w-100"}
							
			#page-header.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"}
				= f.inputs :name => "Header Desktop" do
					.row.mx-2
						- Page.stored_attributes[:header_desktop_properties].each do | obj |
							.col-lg-4.col-6.mb-2
								- case obj
								- when :layout_desktop
									= f.input obj, as: :select, collection: ["layout_center", "layout_left", "layout_right", "layout_navbar_animation", "layout_big_menu"], input_html: {class: "form-control w-100"}
								- when :position_desktop
									= f.input obj, as: :select, collection: ["relative", "absolute"], input_html: {class: "form-control w-100"}
								- else
									= f.input obj, input_html: {class: "form-control w-100"}

				= f.inputs :name => "Header Mobile" do
					.row.mx-2
						- Page.stored_attributes[:header_mobile_properties].each do | obj |
							.col-lg-4.col-12.mb-2
								-# = f.input obj, input_html: {class: "form-control w-100"}
								- case obj
								- when :position_mobile
									= f.input :position_mobile, as: :select, collection: ["relative", "absolute"], input_html: {class: "form-control w-100"}
								- else
									= f.input obj, input_html: {class: "form-control w-100"}

			#page-seo_page.tab-pane.fade{"aria-labelledby" => "nav-seo_page", :role => "tabpanel"}
				= f.inputs :name => "Header Mobile" do
					.row.mx-2
						- Page.stored_attributes[:seo_page_properties].each do | obj |
							.col-lg-12.col-12.mb-2
								-# = f.input obj, input_html: {class: "form-control w-100"}
								- case obj
								- when :keywords, :meta_description
									= f.input obj, as: :text, input_html: {class: "form-control w-100", rows: 5}
								- else
									= f.input obj, input_html: {class: "form-control w-100"}

	

	- f.has_many :components, new_record: true, heading: false, class: "component-parent" do | comp |

		- component_yml = HashWithIndifferentAccess.new(YAML.load_file Rails.root.join("app","views", "components","#{comp.object.layout}","#{comp.object.layout}.yml")) if comp.object.layout.present?
		- exist = comp.object.id.present?

		.text{class: "level-list-item", "component_id"=>"#{comp.object.id}"}
			.card
				#headingOne.card-header{ class: "#{exist ? 'bg-secondary' : 'bg-secondary'}"}
					.row{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapse-#{comp.object.id}", "data-toggle" => "collapse", :type => "button", class: "#{comp.object.id ? '' : 'new_record'}"}
						.col-11
							.d-flex.justify-content-between
								%h5.mb-0{ class: "#{exist ? 'text-light' : ''}"}
									="#{comp.object.name.to_s.capitalize}"
								%small.text-light="( #{comp.object.layout.to_s.capitalize} )"
						.col-1{style: "text-align: right;"}
							- if comp.object.id.present?
								= link_to duplicate_record_admin_component_path(id: comp.object.id) do
									%i.fa.fa-copy.text-light{style: "margin-right: 5px;"}
								=link_to admin_component_path(id: comp.object.id), method: :delete, data: { confirm: "Are you sure?" } do
									%i.fa.fa-trash.text-danger
				.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample", id: "collapse-#{comp.object.id}", class: "#{comp.object.id ? '' : 'show'}"}
					.card-body

						.d-flex.justify-content-end
							.form-check.form-switch{style: "text-align: right"}
								- comp.input :active, label: "", input_html: {class: "form-check-input", disabled: false, "aria-label"=>"..."}
						.row
							.col-3
								#v-pills-tab.nav.flex-column.nav-pills{"aria-orientation" => "vertical", :role => "tablist"}
									%a#v-pills-home-tab.nav-link.active{"aria-controls" => "v-pills-general", "aria-selected" => "true", "data-toggle" => "pill", :href => "#nav-general-#{comp.object.id}", :role => "tab"} General
									%a#v-pills-profile-tab.nav-link{"aria-controls" => "v-pills-images", "aria-selected" => "false", "data-toggle" => "pill", :href => "#nav-images-#{comp.object.id}", :role => "tab"} Images
									%a#v-pills-profile-tab.nav-link{"aria-controls" => "v-pills-properties", "aria-selected" => "false", "data-toggle" => "pill", :href => "#nav-properties-#{comp.object.id}", :role => "tab"} Properties
							.col-9
								#v-pills-tabContent.tab-content.p-0
									.tab-pane.fade.show.active{"aria-labelledby" => "v-pills-general-tab", :role => "tabpanel", id: "nav-general-#{comp.object.id}"}
										= comp.inputs do
											.row.mx-2
												.col-lg-6.col-12
													- comp.input :name, :input_html => { :class => "form-control w-100" }
												.col-lg-6.col-12.d-block
													- comp.input :layout, label: "", as: :select, collection: Component::COMPONENT_LAYOUT, input_html: {class: "form-control w-100 select2"}
												.col-6
													- comp.input :slug, :input_html => { :class => "form-control w-100" }
												.col-6
													- comp.input :position, :input_html => { :class => "form-control w-100" }

											- if comp.object.layout.present?
												= render partial: "admin/pages/components/active_fields", locals: {comp: comp, component_yml: component_yml}
											-# .row.m-2	
											-# 	.col-lg-6.col-12
											-# 		- comp.input :url_text, :input_html => { :class => "w-100" }
											-# 	.col-lg-6.col-12
											-# 		- comp.input :position, :input_html => { :class => "w-100" }
											-# .row.m-2	
											-# 	- comp.input :description, :input_html => { :rows => 5, :class => "w-100" }
												
									.tab-pane.fade{"aria-labelledby" => "v-pills-images-tab", :role => "tabpanel", id: "nav-images-#{comp.object.id}"}
										.row 
											.col-12.px-4
												- comp.has_many :images, allow_destroy: true, heading: false, class:"col-3 mx-2 my-4" do |image|
													= image_tag(image.object.url_image.presence || image.object.asset.url(:thumb), class: "w-100 my-2")
													- image.template.concat(Arbre::Context.new do
														- div class: "col" do
															- image.template.render partial: "admin/admin_shared/image_upload", locals: {f: image}
													- end.to_s)
									.tab-pane.fade{"aria-labelledby" => "nav-properties-tab", :role => "tabpanel", id: "nav-properties-#{comp.object.id}"}
										.row 
											.col-12.my-4
												- if comp.object.layout.present?
													= render partial: "admin/pages/components/properties", locals: {comp: comp, component_yml: component_yml}
												- else
													="Silahkan pilih layout terlebih dahulu di tab General, kemudian simpan"

		:javascript

			$(".has_many_container").addClass("row")
			$(".has_many_container").addClass("level-list mx-0")
			$(".has_many_fields").attr("component_id","#{comp.object.id}");
			$(".has_many_container").attr('id', 'accordionExample');
			
			$(".component-parent").addClass("p-0")
			$(".has_many_delete").find("label").addClass("p-0")
			$(".has_many_add").addClass("mb-3")
			
			// remove if new record add created more than one
			//$(".has_many_add").click(function(){
			//	if ($(".new_record")[0]){
			//		// alert("anda sudah membuat new record baru")
			//		$(".new_record").closest(".has_many_fields").remove()
			//	} else {
			//			// Do something if class does not exist
			//	}
			//})

			$(".level-list").sortable({
				start: function(event, ui) {
					console.log(ui.item)
					ui.item.addClass("highlight");
				},
				stop: function(event, ui) {
					console.log(ui.item.index())
					ui.item.toggleClass("highlight");

					var comp_id = ui.item.children().children().attr("component_id")
					var position_update = ui.item.index()
					console.log(comp_id)
					update_position(comp_id, position_update)
				}
			});

			function update_position(comp_id, position_update) {
				$.ajax({
					type: "GET",
					url: "/components/update_position/" + comp_id,
					data: {
						position_update: position_update
					},	
					success: function (data) {
						toastr.success('Ok! Posisi Component sudah berubah')
					},
					complete: function() {}}
					)
			}

	= f.actions do 
		= f.action :submit, :label => "SIMPAN", :input_html => { class: "btn btn-primary w-100" }, class: "sasa"

:javascript
	ActiveAdminSortableEvent.add('ajaxDone', function (){
		// do what you want
		toastr.success('Ok! Posisi Page sudah berubah')
	})

	$('.select2').select2();