:css
	.vericaltext{
		writing-mode: vertical-lr;
		text-orientation: upright;
	}

	.corner {
		width: 0;
		height: 0;
		border-top: 120px solid #5061CE;
		border-bottom: 100px solid transparent;
		border-left: 120px solid transparent;
		position:absolute;
		right:0;
	}

	.corner span {
		position: absolute;
		top: -100px;
		width: 80px;
		left: -80px;
		text-align: center;
		font-size: 16px;
		font-family: arial;
		transform: rotate(45deg);
		display: block;
	}

%div{class: "container #{component.class_parent_component}", style: "#{component.style_parent_component}" }
	- image_background = component.images.backgrounds.first
	- style_padding = " padding: #{component.padding_top_bottom_side} #{component.padding_left_right_side};"
	- style_margin = " margin: #{component.margin_top_bottom_side} #{component.margin_left_right_side};"
	- style_background_color = " background-color: #{component.background_color};"
	- style_background_image = " background-image: url(#{manipulate_image_tag_url(image_background, options: {image_quality: image_background.image_quality}, html: {class: "img-fluid", data_src: image_background.image_quality})});" if image_background.present?
	- background_repeat =  " no-repeat;"
	- background_size = " background-size: #{image_background.background_image_size};" if image_background.present?
	- background_position = " background-position: #{image_background.background_image_position || 'center'};" if image_background.present?

	- style = " ".concat(style_margin,style_padding,style_background_color,style_background_image.to_s,background_repeat,background_size.to_s,background_position.to_s)

	.slide-reveal{id: component.id, class: "text-#{component.position_text}", style: style}
		.p-2{id: "slider-#{component.id}" ,style: "background-color: #F7F7F9;"}
			.container
				.row
					.col-12 
						=component.translation.title.to_s.html_safe
						=component.translation.subtitle.to_s.html_safe
						=component.translation.body.html_safe
		.text-bg-primary.shadow.rounded-left.position-absolute{id: "trigger-#{component.id}", style: "z-index: 100; right: 0; cursor: pointer;"}
			-# .fw-bold=component.name
			.corner
				%span.fw-bold{style: "line-height: normal;"}=component.name



:javascript

	loadjs(["/assets/frontend/lib/jquery.slidereveal.min.js"], 'slide_reveal', {
		before: function(path, scriptEl) {
			console.log("show loading_component")
			$("#loading_component-#{component.id}").addClass("loading_component");
		},
		async: true
	});
	loadjs.ready('slide_reveal', function() {
		$("#loading_component-#{component.id}").removeClass("loading_component");
		
		
		$("#slider-#{component.id}").slideReveal({
			trigger: $("#trigger-#{component.id}"),
			width: "75%",
			overlay: true,
			position: "right",
			overlayColor: 'transparent'
		});
	});