
%nav.navbar.navbar-expand-lg.text-decoration-none.w-100{style: "#{device.eql?("desktop") ? '' : 'box-shadow: 4px 7px 11px #eee;'} color: #{@page.text_body_color}"}
  .container
    - if (images = @setting.images).present?
      = link_to "/", class: "mr-4" do
        = image_tag(images.last.asset.url(:thumb), width: "50", style: "margin-right:2rem;")
    - else
      %a.navbar-brand.title-header{:href => "/"}
        .text-secondary= @setting.name

    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.fa.fa-bars{style: "color: #{@page.text_body_color}"}
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %br.d-block.d-lg-none
        - @pages.each do |page|
          %li.nav-item.m-1
            - case page.layout
            - when "home"
              = link_to "/", class: "nav-link py-1 text-uppercase #{params[:id].nil? ? 'fw-bold text-primary' : ''}", style: "color: #{@page.text_body_color}" do
                = page.title

            - when "categories"
              .dropdown
                #dropdownMenuButton.dropdown-toggle.nav-link.p-1.text-uppercase{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", style: "color: #{@page.text_body_color}"}
                  = page.title
                .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                  - if @categories.present?
                    - @categories.each do |category|
                      =link_to category.name, category_path(category), class: "dropdown-item"
            - else
              - if ( childrens = page.children ).present?
                .dropdown
                  #dropdownMenuButtonPage.dropdown-toggle.p-1.nav-link.text-uppercase{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", class: "#{childrens.pluck(:id).include?(params[:id].to_i) ? 'fw-bold text-primary' : ''}", style: "color: #{@page.text_body_color}"}
                    = page.title
                  .dropdown-menu{"aria-labelledby" => "dropdownMenuButtonPage"}
                    - childrens.order(:position).each do |child|
                      =link_to child.title, page_path(child), class: "dropdown-item #{child.id.to_s.eql?(params[:id].to_i.to_s) ? 'fw-bold text-primary' : ''}"
              - else
                = link_to page_path(page), class: "nav-link py-1 text-uppercase #{page.id.to_s.eql?(params[:id].to_i.to_s) ? 'fw-bold text-primary' : ''}", style: "color: #{@page.text_body_color}" do
                  = page.title

        %li.nav-item
          =link_to "Design", custom_design_page_path, class: "nav-link text-uppercase"

      %form.flex-container.navbar-right-custom
        %hr.text-white.d-block.d-lg-none
        %ul.navbar-nav
          -if @setting.url_media_socials[:instagram].present?
            %li.nav-item.m-auto
              =link_to @setting.url_media_socials[:whatsapp], class: "nav-link" do
                %i.fa-brands.fa-font-awesome.fa-whatsapp.fa-xl
                %span.text-white="Whatsapp"

            %li.nav-item.m-auto
              =link_to @setting.url_media_socials[:instagram], class: "nav-link" do
                -# = image_tag("frontend/instagram.png", width: "25")
                %i.fa-brands.fa-instagram.fa-xl.text-white
                %span.text-white="Instagram"
          -# %hr.text-white.d-block.d-lg-none
          -# %li.nav-item
          -#   - if user_signed_in?
          -#     %a.text-white.nav-link="Hallo, #{current_user.email}"
          -#     =link_to destroy_user_session_path, method: 'delete', class: "btn bg-yellow nav-link" do
          -#       %i.fa.fa-exit
          -#       ="KELUAR"
          -#   - else
          -#     =link_to new_user_session_path, class: "btn bg-yellow nav-link" do
          -#       %i.fa.fa-user
          -#       ="DAFTAR/MASUK"