- background_navbar = device.eql?("desktop") ? @page&.background_color_desktop : @page&.background_color_mobile

%nav.header.header-layout-center.navbar.navbar-expand-md.bg-faded.justify-content-center.pt-3{style: "background-color: #{ background_navbar }", class: "#{@page&.position_desktop == 'absolute' ? 'nav-absolute' : ''} #{device.eql?("desktop") ? '' : 'nav-box-shadow'}"}
  .container
    - unless device.eql?("desktop")
      - if (images = @setting.images).present?
        = link_to root_path, title: "axeonsoft" do
          = manipulate_image_tag(images.last, html: {width: "50"})
          
      - else
        %a.navbar-brand.title-header.navbar-brand.d-flex.justify-content-center{:href => "/"}
          .text-secondary= @setting.name
    
    %button.navbar-toggler{"aria-controls" => "collapsingNavbar3", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => ".collapsingNavbar3", "data-toggle" => "collapse", :type => "button"}
      %span.fa.fa-bars{style: "color: #{@page&.text_body_color}"}
    

    .collapsingNavbar3.navbar-collapse.collapse.w-100.left-side
      %ul.navbar-nav.w-100
        - @pages.each do |page|
          %li.nav-item.mx-2
            - case page.layout
            - when "home"
              = link_to "/", class: "nav-link py-1 text-uppercase #{params[:id].nil? ? 'fw-bold text-primary' : ''}", style: "color: #{@page&.text_color_desktop}" do
                = page.title

            - when "categories"
              .dropdown
                #dropdownMenuButton.dropdown-toggle.nav-link.p-1.text-uppercase{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", style: "color: #{@page&.text_color_desktop}"}
                  = page.title
                .dropdown-menu{"aria-labelledby" => "dropdownMenuButton"}
                  - if @categories.present?
                    - @categories.each do |category|
                      =link_to category.name, category_path(category), class: "dropdown-item", title: "#{page.slug || page.title}"
            - else
              - if ( childrens = page.children ).present?
                .dropdown
                  #dropdownMenuButtonPage.dropdown-toggle.p-1.nav-link.text-uppercase{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button", class: "#{childrens.pluck(:id).include?(params[:id].to_i) ? 'fw-bold text-primary' : ''}", style: "color: #{@page&.text_color_desktop}"}
                    = page.title
                  .dropdown-menu{"aria-labelledby" => "dropdownMenuButtonPage"}
                    - childrens.order(:position).each do |child|
                      =link_to child.title, page_path(child), class: "dropdown-item #{child.id.to_s.eql?(params[:id].to_i.to_s) ? 'fw-bold text-primary' : ''}", title: "#{page.slug || page.title}"
              - else
                = link_to page_path(page), title: "#{page.title}", style: "color: #{@page&.text_color_desktop}", class: "nav-link py-1 text-uppercase #{page.id.to_s.eql?(params[:id].to_i.to_s) ? 'fw-bold text-primary' : ''}" do
                  = page.title
        -# %li.nav-item
        -#   =link_to "Design", custom_design_page_path, class: "nav-link text-uppercase"

    .collapsingNavbar3.navbar-collapse.collapse.center-side
      - if device.eql?("desktop")
        - if (images = @setting.images).present?
          = link_to "/" do
            = manipulate_image_tag(images.last, html: {width: "80"})
        - else
          %a.navbar-brand.title-header.navbar-brand.d-flex.justify-content-center.m-auto{:href => "/"}
            .text-secondary= @setting.name
    
    .collapsingNavbar3.navbar-collapse.collapse.w-100.right-side
      %ul.navbar-nav.ms-auto.w-100.justify-content-end
        -if @setting.url_media_socials[:linkedin].present?
          %li.nav-item
            =link_to @setting.url_media_socials[:linkedin], class: "nav-link", title: "Linkedin", style: "color: #{@page&.text_color_desktop}" do
              %i.fa-brands.fa-font-awesome.fa-linkedin.fa-xl
              %span="Linkedin"
        -if @setting.url_media_socials[:twitter].present?
          %li.nav-item
            =link_to @setting.url_media_socials[:twitter], class: "nav-link", title: "Twitter", style: "color: #{@page&.text_color_desktop}" do
              %i.fa-brands.fa-font-awesome.fa-twitter.fa-xl
              %span="Twitter"
        -if @setting.url_media_socials[:instagram].present?
          %li.nav-item
            =link_to @setting.url_media_socials[:instagram], class: "nav-link", title: "Instagram", style: "color: #{@page&.text_color_desktop}" do
              %i.fa-brands.fa-instagram.fa-xl
              %span="Instagram"
        %hr.text-white.d-block.d-lg-none
        -# %li.nav-item
        -#   - if user_signed_in?
        -#     %a.text-white.nav-link="Hallo, #{current_user.email}"
        -#     =link_to destroy_user_session_path, method: 'delete', class: "btn bg-yellow nav-link", style: "color: #{@page&.text_color_desktop}" do
        -#       %i.fa.fa-exit
        -#       ="KELUAR"
        -#   - else
        -#     =link_to new_user_session_path, class: "nav-link", style: "color: #{@page&.text_color_desktop}" do
        -#       %i.fa.fa-user
        -#       ="DAFTAR/MASUK"