.section-wrapper
	- image_background = component.images.backgrounds.first
	- style_padding = " padding: #{component.padding_top_bottom_side} #{component.padding_left_right_side};"
	- style_margin = " margin: #{component.margin_top_bottom_side} #{component.margin_left_right_side};"
	- style_background_color = " background-color: #{component.background_color};"
	- style_background_image = " background-image: url(#{manipulate_image_tag_url(image_background, options: {image_quality: image_background.image_quality}, html: {class: "img-fluid", data_src: image_background.image_quality})});" if image_background.present?
	- background_repeat =  " no-repeat;"
	- background_size = " background-size: #{image_background.background_image_size};" if image_background.present?
	- background_position = " background-position: #{image_background.background_image_position || 'center'};" if image_background.present?

	- style = " ".concat(style_margin,style_padding,style_background_color,style_background_image.to_s,background_repeat,background_size.to_s,background_position.to_s)

	.text-base{class: "text-#{component.position_text}", style: style}
		.row.w-100
			.col-12
				=component.title.to_s.html_safe
				=component.subtitle.to_s.html_safe
				=component.body.to_s.html_safe

				- if component&.link.present?
					=link_to component&.url_text || "/", class: "btn bg-light" do
						.fw-bold.text-secondary="READ MORE"