.section-wrapper
	- style_padding = "padding: #{component.padding_all_side}; padding: 0 #{component.padding_left_right_side}; padding: #{component.padding_top_bottom_side} 0;"
	- style_margin = "margin: #{component.margin_all_side}; margin: #{component.margin_top_bottom_side} #{component.margin_left_right_side};"
	- style_background = "background-color: #{component.background_color}"
	- style = "#{style_margin} #{style_padding} #{style_background}"

	.text-base{class: "text-#{component.position_text}", style: style}
		%h3
			=component.title.to_s.html_safe
		%small=component.subtitle.to_s.html_safe
		%p
			=component.body.to_s.html_safe

		- if component&.link.present?
			=link_to component&.url_text || "/", class: "btn bg-light" do
				.fw-bold.text-secondary="READ MORE"