.section-wrapper
	.products-by-category{class: "text-#{component.position_text}", style: "margin: #{component.margin_all_side}; margin-top: #{component.margin_top_bottom_side}; margin-bottom:#{component.margin_top_bottom_side}; margin-left:#{component.margin_left_right_side};  margin-right:#{component.margin_left_right_side}"}
		%h3
			=component.title.to_s.html_safe
		%small{style: "color: gray;"}=component.subtitle.to_s.html_safe
		%hr
		%p
			=component.body.to_s.html_safe

		- if component&.link.present?
			=link_to component&.url_text || "/", class: "btn bg-light" do
				.fw-bold.text-secondary="READ MORE"

		- if (products = Category.find(component.category_id.to_i).products).present?
			.row
				- products.each do | product |
					.col-md-3.col-6
						= link_to product_path(product) do
							.product-slick
								- product.images.each do | image |
									= image_tag(image.asset.url(:thumb), class: "img-fluid")
		- else
			Silahkan masukan category atau karena product ini kosong

:javascript
	loadjs(["/assets/frontend/lib/slick.min.js", "/assets/frontend/lib/slick.css", "/assets/frontend/lib/slick-theme.css"], 'products_show');
	loadjs.ready('products_show', function() {
		$('.product-slick').not('.slick-initialized').slick({
			autoplay:true,
			dots: true,
			infinite: true
		});
	})