
- if @page.body_layout.eql?("one_page_scroll") && device.eql?("desktop")
	= render "/layouts/body_layout/#{@page.body_layout}"
- elsif @page.body_layout.eql?("fancy_sidebar_navigation") && device.eql?("desktop")
	= render "/layouts/body_layout/#{@page.body_layout}"
- else
	- if @components.present?
		- @components.order(:position).each do |component|
			#loading_component
			- case component.layout
			- when "banner", "list_images", "list_images_slider", "gallery_images", "is_images_from_online", "modern_slide_in", "banner_flip_effects_rocket", "split_product_showcase", "wave_liquid_animation", "text_base"
				.component{name: "#{component.slug}"}
					=render partial: "components/#{component.layout.to_s}/#{component.layout.to_s}", locals: {component: component} if component.layout.present?
			- else
				.container
					.component{name: "#{component.slug}"}
						=render partial: "components/#{component.layout.to_s}/#{component.layout.to_s}", locals: {component: component} if component.layout.present?


		