
- if @page.body_layout.eql?("one_page_scroll") && device.eql?("desktop")
	= render "/layouts/body_layout/#{@page.body_layout}"
- elsif @page.body_layout.eql?("fancy_sidebar_navigation") && device.eql?("desktop")
	= render "/layouts/body_layout/#{@page.body_layout}"
- else
	- if @components.present?
		- @components.order(:position).each do |component|
			%div{id: "loading_component-#{component.id}"}
			.component{name: "#{component.slug}"}
				=render partial: "components/#{component.layout.to_s}/#{component.layout.to_s}", locals: {component: component} if component.layout.present?


		