:css

	.hover_transition{
		border-radius: 4px;
		background: #fff;
		box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
		transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
		cursor: pointer;
	}

	.hover_transition:hover{
			transform: scale(1.05);
		box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
	}

- image = @category.images.first
= manipulate_image_tag(image, options: {image_quality: image.image_quality}, html: {class: "#{image.class_image}", style: "#{image.style_image};"}) if image.present?
.container
	- if device.eql?("desktop")
		.row 
			.col-lg-3.col-12
				=render partial: "categories/sidebar_categories", locals: { category: @category }
				%hr
			.col-lg-9.col-12
				- if @category.is_root? && ( childrens = @category.children ).present?
					.row
						- childrens.each do | cat_child |
							.col-md-3.col-6.my-2
								.card.card-body.hover_transition.shadow.border-0.p-0
									= link_to category_path(cat_child) do
										%div.m-0{style: "background: rgba(0, 0, 0, 0.3); opacity: 0.5;"}
											= manipulate_image_tag(cat_child.images.first, options: {image_quality: cat_child.images.first.image_quality}, html: {class: "text-center"}) if cat_child.images.first.present?
										- if cat_child.images.first.present?
											.text-white{style: "position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);"}
												%hr.my-1{style:"opacity:1"}
												.text-center= cat_child.name
												%hr.my-1{style:"opacity:1"}
										- else
											= cat_child.name
				- else
					- if @products.present?
						=render partial: "categories/products", locals: { products: @products }
						= paginate @products
	- else
		-# - if @categories.present?
		-# 	- @categories.root.each do |category|
		-# 		.my-3
		-# 			= link_to category_path(category) do
		-# 				%h6.text-dark{class: "#{ category.id.to_s.eql?(params[:id]) ? 'fw-bold' : ''}"}=category.name
		-# 			- if ( childrens = category.children ).present?
		-# 				- childrens.each do | cat_child |
		-# 					%ul.list-group
		-# 						= link_to category_path(cat_child) , class: "#{ cat_child.id.to_s.eql?(params[:id]) ? 'fw-bold' : ''}" do
		-# 							%li.list-group-item.border-0
		-# 								.text-line
		-# 									.text-left
		-# 										%span.text-secondary.small= cat_child.name 
		-# 									.text-right
		-# 										%span.small= cat_child.products.size

		:css
			div.scrollmenu {
				overflow: auto;
				white-space: nowrap;
			}

			div.scrollmenu a {
				display: inline-block;
				text-align: center;
				padding: 14px;
				text-decoration: none;
			}

			div.scrollmenu a:hover {
			}
			/* width */
			::-webkit-scrollbar {
				width: 10px !important;
			}

			/* Track */
			::-webkit-scrollbar-track {
				box-shadow: inset 0 0 5px rgb(0 0 0 / 15%);
				border-radius: 0;
			}

			/* Handle */
			::-webkit-scrollbar-thumb {
				background: #5161ce;
				border-radius: 0;
			}
		.row
			.col-12
				- if @categories.present?
					.scrollmenu.d-flex.justify-content-between
						- @categories.root.take(4).each do |category|
							= link_to category_path(category) do
								%h6{class: "#{ category.id.to_s.eql?(params[:id]) ? 'fw-bold' : ''}"}=category.name
					- if (cat_children = Category.find(params[:id]).children).present?
						:css
							#style  {
								background-color: white;
							}

							#style:focus {     
								background-color: #5061CE;
								color: white;
							}
						.scrollmenu.d-flex.justify-content-between
							- cat_children.each do |c_child|
								.border.my-3.mx-2
									= link_to show_product_categories_path(id: c_child.id), remote: :true, id: "style" do
										= c_child.name
									
						.products-show
					- else
						- if @products.present?
							=render partial: "categories/products", locals: { products: @products }
							= paginate @products
									