:css

	.carousel {
	border-radius: 50px 50px 50px 50px;
	overflow: hidden;
	}

	.carousel-inner, .carousel, .carousel-item, .carousel-container {
		height: 100%;
		width: 100%;
		background-position: center center;
		background-size: cover;
	}

	.carousel-item-prev:not(.carousel-item-end), .active.carousel-item-start {
		transform: translate3d(0, -100%, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
		-o-transform: translate3d(0, -100%, 0);
	}

	.carousel-item-next:not(.carousel-item-start), .active.carousel-item-end {
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
	}

	.carousel-indicators {
		top: 0;
		margin: auto;
		height: 20px;
		right: 10px;
		left: auto;
		display: block;
	}

	.carousel-indicators [data-bs-target] {
		background: none;
		border: 2px solid white;
		border-radius: 12px;
		width: 12px;
		height: 12px;
		margin-bottom: 5px;
	}

	.carousel-indicators li.active {
		background: white;
	}

	.carousel-control-next-icon, .carousel-control-prev-icon {
		width: 4rem;
		height: 4rem;
		position: fixed;
		top: 95%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(90deg);
		z-index: -1;
	}

	.carousel-control-prev-icon {
		top: 5%;
	}

	.unclickable {
		pointer-events: none;
	}

	.clickable {
		pointer-events: all;
	}
%div{class: "#{component.class_parent_component}"}
	- image_background = component.images.backgrounds.first
	- style_padding = " padding: #{component.padding_top_bottom_side} #{component.padding_left_right_side};"
	- style_margin = " margin: #{component.margin_top_bottom_side} #{component.margin_left_right_side};"
	- style_background_color = " background-color: #{component.background_color};"
	- style_background_image = " background-image: url(#{manipulate_image_tag_url(image_background, options: {image_quality: image_background.image_quality}, html: {class: "img-fluid", data_src: image_background.image_quality})});" if image_background.present?
	- background_repeat =  " no-repeat;"
	- background_size = " background-size: #{image_background.background_image_size};" if image_background.present?
	- background_position = " background-position: #{image_background.background_image_position || 'center'};" if image_background.present?
	- height = " height: #{device.eql?("desktop") ? ( component.desktop_height.presence || '700px' ) : ( component.mobile_height.presence || '200px' )} "
	- style = " ".concat(style_margin,style_padding,style_background_color,style_background_image.to_s,background_repeat,background_size.to_s,background_position.to_s, height.to_s)

	.vertical_carousel_frame{class: "text-#{component.position_text}", style: style}
		.carousel-container.justify-content-center
			#vertical-carousel.carousel.slide{"data-bs-interval" => "false", "data-bs-ride" => "carousel", "data-bs-wrap" => "false"}
				%ol.carousel-indicators
					- component.images.pluck(:id).each_with_index do |image, i|
						%li{"data-bs-slide-to" => i.to_s, "data-bs-target" => "#vertical-carousel", class: "#{i == 0 ? 'active' : ''}"}
				.carousel-inner
					- component.images.each_with_index do |image, i|
						- url = manipulate_image_tag_url(image, options: {image_quality: image.image_quality}, html: {class: "img-fluid", data_src: image.image_quality})
						.carousel-item{:style => "background-image:url(#{url});", class: "#{i == 0 ? 'active' : ''}"}
							.container
								.row.align-items-center{style:"height: 100%"}
									-# .display-3.text-center.text-light.text-justify
									-# 	="HANAFI"
									=image.title.to_s.html_safe
									=image.subtitle.to_s.html_safe
									=image.note.to_s.html_safe
	.row.text-center.mt-2
		.col
			%i#button.fa.fa-angles-down.fa-lg{style: "cursor: pointer;"}

	-# %button.unclickable.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#vertical-carousel", :type => "button"}
	-# 	%span.clickable.carousel-control-prev-icon{"aria-hidden" => "true"}
	-# 	%span.visually-hidden Previous
	-# %button#button.carousel-control-next
	-# 	%span.clickable.carousel-control-next-icon{"aria-hidden" => "true"}
	-# 	%span.visually-hidden Next



:javascript

	x = $(window).height() - 50
	$("#button").click(function() {
		$('html, body').animate({
				scrollTop: x
		}, 1000);
	});

	loadjs(["/assets/frontend/lib/vertical_carousel_frame.js","/assets/frontend/lib/bootstrap.bundle.min.js"], 'vertical_carousel_frame', {
			before: function(path, scriptEl) {
				$("#loading_component-#{component.id}").addClass("loading_component")
			},
			async: false
		});
	loadjs.ready('vertical_carousel_frame', function() {
		$("#loading_component-#{component.id}").removeClass("loading_component")

	})


	$(document).on('turbolinks:load', function() {
		$("body").attr("data-turbolinks", "false")
		loadjs(["/assets/frontend/lib/vertical_carousel_frame.js","/assets/frontend/lib/bootstrap.bundle.min.js"], 'vertical_carousel_frame', {
			before: function(path, scriptEl) {
				$("#loading_component-#{component.id}").addClass("loading_component")
			},
			async: false
		});
		loadjs.ready('vertical_carousel_frame', function() {
			$("#loading_component-#{component.id}").removeClass("loading_component")
		})

	})