.section-wrapper
	.pricing-list-card{class: "text-#{component.position_text}", style: "margin: #{component.margin_all_side}; margin-top: #{component.margin_top_bottom_side}; margin-bottom:#{component.margin_top_bottom_side}; margin-left:#{component.margin_left_right_side};  margin-right:#{component.margin_left_right_side}"}
		.cd-pricing-container
			.cd-pricing-switcher
				%p.fieldset
					%input#monthly-1{:checked => "checked", :name => "duration-1", :type => "radio", :value => "monthly"}/
					%label.click_choice{style: "color:white;", :for => "monthly-1"} Per Bulan
					%input#yearly-1{:name => "duration-1", :type => "radio", :value => "yearly"}/
					%label.click_choice{style: "color:blue;", :for => "yearly-1"} Per Tahun
					%span.cd-switch.bg-primary
			/ .cd-pricing-switcher
			%ul.cd-pricing-list.cd-bounce-invert
				%li
					%ul.cd-pricing-wrapper
						%li.is-visible{"data-type" => "monthly"}
							%header.cd-pricing-header
								%h2 Basic
								.cd-price
									%span.cd-currency IDR
									%span.cd-value 99
									%small .000
									%span.cd-duration bulan
							/ .cd-pricing-header
							.cd-pricing-body
								%ul.cd-pricing-features
									%li
										%em 256MB
										Memory
									%li
										%em 5
										Pages
									%li
										%em 1
										Website
									%li
										%em 1
										Domain
									%li
										%em Unlimited
										Bandwidth
									%li
										%em 24/7
										Support
							/ .cd-pricing-body
							%footer.cd-pricing-footer
								%a.cd-select{:href => "http://codyhouse.co/?p=429"} Select
							/ .cd-pricing-footer
						%li.is-hidden{"data-type" => "yearly"}
							%header.cd-pricing-header
								%h2 Basic
								.cd-price
									%span.cd-currency $
									%span.cd-value 320
									%span.cd-duration yr
							/ .cd-pricing-header
							.cd-pricing-body
								%ul.cd-pricing-features
									%li
										%em 256MB
										Memory
									%li
										%em 1
										User
									%li
										%em 1
										Website
									%li
										%em 1
										Domain
									%li
										%em Unlimited
										Bandwidth
									%li
										%em 24/7
										Support
							/ .cd-pricing-body
							%footer.cd-pricing-footer
								%a.cd-select{:href => "http://codyhouse.co/?p=429"} Select
							/ .cd-pricing-footer
					/ .cd-pricing-wrapper
				%li.cd-popular
					%ul.cd-pricing-wrapper
						%li.is-visible{"data-type" => "monthly"}
							%header.cd-pricing-header
								%h2.text-primary Popular
								.cd-price
									%span.cd-currency $
									%span.cd-value 60
									%span.cd-duration mo
							/ .cd-pricing-header
							.cd-pricing-body
								%ul.cd-pricing-features
									%li
										%em 512MB
										Memory
									%li
										%em 3
										Users
									%li
										%em 5
										Websites
									%li
										%em 7
										Domains
									%li
										%em Unlimited
										Bandwidth
									%li
										%em 24/7
										Support
							/ .cd-pricing-body
							%footer.cd-pricing-footer
								%a.cd-select{:href => "http://codyhouse.co/?p=429"} Select
							/ .cd-pricing-footer
						%li.is-hidden{"data-type" => "yearly"}
							%header.cd-pricing-header
								%h2 Popular
								.cd-price
									%span.cd-currency $
									%span.cd-value 630
									%span.cd-duration yr
							/ .cd-pricing-header
							.cd-pricing-body
								%ul.cd-pricing-features
									%li
										%em 512MB
										Memory
									%li
										%em 3
										Users
									%li
										%em 5
										Websites
									%li
										%em 7
										Domains
									%li
										%em Unlimited
										Bandwidth
									%li
										%em 24/7
										Support
							/ .cd-pricing-body
							%footer.cd-pricing-footer
								%a.cd-select{:href => "http://codyhouse.co/?p=429"} Select
							/ .cd-pricing-footer
					/ .cd-pricing-wrapper
				%li
					%ul.cd-pricing-wrapper
						%li.is-visible{"data-type" => "monthly"}
							%header.cd-pricing-header
								%h2 Premier
								.cd-price
									%span.cd-currency $
									%span.cd-value 90
									%span.cd-duration mo
							/ .cd-pricing-header
							.cd-pricing-body
								%ul.cd-pricing-features
									%li
										%em 1024MB
										Memory
									%li
										%em 5
										Users
									%li
										%em 10
										Websites
									%li
										%em 10
										Domains
									%li
										%em Unlimited
										Bandwidth
									%li
										%em 24/7
										Support
							/ .cd-pricing-body
							%footer.cd-pricing-footer
								%a.cd-select{:href => "http://codyhouse.co/?p=429"} Select
							/ .cd-pricing-footer
						%li.is-hidden{"data-type" => "yearly"}
							%header.cd-pricing-header
								%h2 Premier
								.cd-price
									%span.cd-currency $
									%span.cd-value 950
									%span.cd-duration yr
							/ .cd-pricing-header
							.cd-pricing-body
								%ul.cd-pricing-features
									%li
										%em 1024MB
										Memory
									%li
										%em 5
										Users
									%li
										%em 10
										Websites
									%li
										%em 10
										Domains
									%li
										%em Unlimited
										Bandwidth
									%li
										%em 24/7
										Support
							/ .cd-pricing-body
							%footer.cd-pricing-footer
								%a.cd-select{:href => "http://codyhouse.co/?p=429"} Select
							/ .cd-pricing-footer
					/ .cd-pricing-wrapper
			/ .cd-pricing-list
		/ .cd-pricing-container

:javascript

	loadjs(["/assets/frontend/lib/pricing_list_card/reset.css", "/assets/frontend/lib/pricing_list_card/style.css", "/assets/frontend/lib/pricing_list_card/modernizr.js", "/assets/frontend/lib/pricing_list_card/main.js"], 'pricing-list-card');
	loadjs.ready('pricing-list-card', function() {
		$(".click_choice").click(function(){
			$(".fieldset > label").css("color", "#5061CE")
			$(this).css("color", "white")
		})
	})