.banner{style: "height: #{component.desktop_height.present? ? component.desktop_height : '700px'}"}
	.d-block
		- if (images = component.images).present?
			- if device.eql?("desktop") && images.size > 1 && component.show_nav == "true"
				.nav-banner-cursor

					%i.fa.fa-square-caret-left.prev-btn.text-light
					%i.fa.fa-square-caret-right.next-btn.text-light
			.owl-carousel.demo.owl-theme
				- images.banners.each do |image|
					.item{style: "background-image: url(#{image_url(image.asset.url, class: "img-fluid")}); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; background-color: white; height: #{component.desktop_height.to_s.presence || '700px'}; ", "data-src": "#{image.asset.url}"}
						.vertical-center.text-white
							%div.title=image.title.to_s.html_safe
							%p=image.note.to_s.html_safe

					-# .slider
					-# 	.textoverlay
					-# 		.row.align-items-center
					-# 			.col-12.thumb
					-# 				.text
					-# 					%h2.d-block.title.text-center=image.title.to_s.html_safe
					-# 					%p=image.note.to_s.html_safe
					-# 				.image{style: "height:100vh"}
					-# 					- if (url = image.asset_url).present?
					-# 						- if device.eql?("desktop")
					-# 							=image_tag(image.asset.url, alt: image.title, "data-src": image.asset.url, style: "height: #{component.desktop_height rescue '700px'} ; min-height: 500px", class: "owl-lazy")
					-# 							-# %img.owl-lazy{:alt => "", "data-src" => image.asset.url, height: "#{component.desktop_height rescue '800px'}"}/
					-# 						- else
					-# 							-# %img.owl-lazy{:alt => "", "data-src" => image.asset.url(:banner_full), height: "#{component.mobile_height rescue '300'}"}/

					-# 							=image_tag(image.asset.url, alt: image.title, "data-src": image.asset.url, style: "height: #{component.desktop_height rescue '300'}", class: "owl-lazy")



:javascript
	loadjs(["/assets/frontend/lib/owl.carousel.min.js", "/assets/frontend/lib/owl.carousel.min.css", "/assets/frontend/lib/owl.theme.default.css"], 'banner');
	loadjs.ready('banner', function() {
		var owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 1,
			dots: "#{component.show_dots rescue nil}" === "true",
			loop: "#{images.size > 1}" === "true",
			nav: false,
			autoplay:true,
			lazyLoad:true,
			touchDrag: false,
			autoplayHoverPause:true,
			autoplayTimeout: 3000,
			smartSpeed: 1000
		});

		$('.next-btn').click(function() {
				owl.trigger('next.owl.carousel');
		})

		$('.prev-btn').click(function() {
				owl.trigger('prev.owl.carousel');
		})
	})
