.banner{style: "height: #{device.eql?("desktop") ? ( component.desktop_height.presence || '700px' ) : ( component.mobile_height.presence || '200px' ) }"}
	.d-block
		- if (images = component.images).present?
			- if device.eql?("desktop") && images.size > 1 && component.show_nav == "true"
				.nav-banner-cursor

					%i.fa.fa-square-caret-left.prev-btn.text-light
					%i.fa.fa-square-caret-right.next-btn.text-light
			.owl-carousel.demo.owl-theme
				- images.banners.each do |image|
					.item{style: "background-image: url(#{image_url(image.asset.url, class: "img-fluid")}); background-repeat: no-repeat; background-size: cover; background-position: center; width: 100%; background-color: #{@page.background_body_color}; height: #{device.eql?("desktop") ? ( component.desktop_height.presence || '700px' ) : ( component.mobile_height.presence || '200px' ) }; ", "data-src": "#{image.asset.url}"}
						.text-justify.text-white
							%div.title=image.title.to_s.html_safe
							%p=image.note.to_s.html_safe

:javascript
	loadjs(["/assets/frontend/lib/owl.carousel.min.js", "/assets/frontend/lib/owl.carousel.min.css"], 'banner');
	loadjs.ready('banner', function() {
		var owl = $('.owl-carousel');
		owl.owlCarousel({
			items: 1,
			dots: "#{component.show_dots rescue nil}" === "true",
			loop: "#{images.size > 1}" === "true",
			nav: false,
			autoplay:true,
			lazyLoad:true,
			touchDrag: false,
			autoplayHoverPause:true,
			autoplayTimeout: 3000,
			smartSpeed: 1000
		});

		$('.next-btn').click(function() {
				owl.trigger('next.owl.carousel');
		})

		$('.prev-btn').click(function() {
				owl.trigger('prev.owl.carousel');
		})
	})
