.container
	.section-wrapper
		.row 
			.col-6
				.product-slick
					- @product.attachments.each do |attachment|
						=image_tag(attachment.asset.url, width: "100%")
			.col-6

				%h1.font-weight.text-center.font-weight=@product.name
				%hr
				%p=@product.short_description
				.card.card-body
					%p= "SKU : #{@product.sku}"
					%p= "Harga : #{@product.price}"
					%p= "Diskon : #{@product.discount}"
					%p= "Kategori : #{@product.category.name}"
					%p= "Harga : #{@product.price}"
				%hr
					.row
						.col-12.my-1
							- url = request.original_url 
							=link_to "https://web.whatsapp.com/send?phone=#{Setting.first.phone}&text=ORDER ID-#{@product.id} #{@product.name} harga : #{@product.price} link : #{url}" , class: "btn w-100", style: "background-color: white;" do
								=image_tag("frontend/whatsapp.png", width: "25")
								="CHAT KE WHATSAPP"
		.row 
			.col
				%hr
				%h3.text-center Deskripsi Product
				%hr
				%p= @product.description

:javascript
	$('.product-slick').slick({
		autoplay:true,
		dots: true,
		infinite: true
	});